<% provide(:title, "Log in") %>
<h1>Ingresa con tus datos!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label "Contraseña" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Ingresar al Sitio", class: "btn btn-primary" %>
    <% end %>

    <p>No tienes una cuenta aún?  <%= link_to "Regístrate ahora!", signup_path %></p>
  </div>
</div>

